body{
  background-color: rose;
  margin: 0;
  font-family: sans-serif, 'Helvetica', "Arial";
}

header{
  background-color: hotpink;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


header h1{
    color:black;
    font-size: 50px;

}

header img{
  border-radius: 150px;
  width: 300px;
  border: 20px solid white;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
    line-height: 30px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    color: #e70c19;
    margin: 10px 100px 10px;
}

a{
  color: #e70c19;

}

a:hover{
    color: white;
    background-color: #483a94;
}

footer{
  background-color: hotpink;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

footer a{
    color: white;
}

footer a:hover{
      opacity: .5;
      background-color: transparent;
}

p.caption{
      color: #999999;
      font-style: italic;
      margin-top: 0;
}
