body{
  background-color: rose;
  margin: 0;
}

header{
  background-color: hotpink;
  text-align: center;
}
header h1{
    color:black;
}

header img{
  border-radius: 150px;
  width: 300px;
  border: 20px solid #483a94;
}
